In [3]:
import pickle
import pandas as pd
import numpy as np

In [11]:
with open('model_scaler1.pkl', 'rb') as file_1:
  scaler = pickle.load(file_1)

with open('model_encoder1.pkl', 'rb') as file_2:
  ohe = pickle.load(file_2)

with open('model_lin_reg1.pkl', 'rb') as file_3:
  model = pickle.load(file_3)

In [12]:
# membuat data dummy dengan 30 baris random
np.random.seed(1)
distance = np.random.randint(1,10,10)
cab_type = np.random.choice(['Uber', 'Lyft'])
name = np.random.choice(['UberX','Taxi','UberPool','Black SUV','WAV','UberXL','Black','Lyft XL','Lux Black',
                         'Lyft','Lux Black XL','Lux','Shared'],10)
surge_multiplier = np.random.choice(['1.00','1.25','1.50','1.75','2.00','2.50','3.00'],10)

In [13]:
# Memberi nama kolom
inference = pd.DataFrame({'distance':distance,'cab_type':cab_type,'name':name,'surge_multiplier':surge_multiplier})
inference

   distance cab_type          name surge_multiplier
0         6     Uber        UberXL             1.25
1         9     Uber      UberPool             1.25
2         6     Uber           WAV             3.00
3         1     Uber           Lux             1.00
4         1     Uber        Shared             3.00
5         2     Uber  Lux Black XL             2.50
6         8     Uber        Shared             1.25
7         7     Uber      UberPool             1.25
8         3     Uber           WAV             2.50
9         5     Uber       Lyft XL             3.00

In [14]:
# Memisahkan data kategorik dan numerikal untuk di lakukan scaling dan encoding
data_num = pd.DataFrame(inference['distance'])
data_cat = pd.DataFrame(inference[['name', 'cab_type']])

In [15]:
# Feature Scaling and Feature Encoding

inf_num_scaled = scaler.transform(data_num)
inf_cat_encoded = ohe.transform(data_cat)
inf_num_scaled = pd.DataFrame(inf_num_scaled)

names = { 0: 'distance'}

data_inf_num_scaled = inf_num_scaled.rename(columns = names)
data_inf_num_scaled

   distance
0  1.107407
1  1.662963
2  1.107407
3  0.181481
4  0.181481
5  0.366667
6  1.477778
7  1.292593
8  0.551852
9  0.922222

In [16]:
inf_cat_encoded

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.]])

In [18]:
cat_ohe= ['name', 'cab_type']
feature_names= ohe.get_feature_names_out(input_features= cat_ohe)

X_train_ohe= pd.DataFrame(inf_cat_encoded, columns=feature_names)
X_test_ohe= pd.DataFrame(inf_cat_encoded, columns=feature_names)

X_train_ohe

,name_Black,name_Black SUV,name_Lux,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_UberPool,name_UberX,name_UberXL,name_WAV,cab_type_Lyft,cab_type_Uber
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
9,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [20]:
surge = pd.DataFrame(inference['surge_multiplier'])
surge

  surge_multiplier
0             1.25
1             1.25
2             3.00
3             1.00
4             3.00
5             2.50
6             1.25
7             1.25
8             2.50
9             3.00

In [21]:
inf_final = pd.concat([data_inf_num_scaled,X_train_ohe,surge],axis = 1)
inf_final

,distance,name_Black,name_Black SUV,name_Lux,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_UberPool,name_UberX,name_UberXL,name_WAV,cab_type_Lyft,cab_type_Uber,surge_multiplier
0,1.107407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.25
1,1.662963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.25
2,1.107407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.00
3,0.181481,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.00
4,0.181481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.00
5,0.366667,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.50
6,1.477778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.25
7,1.292593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.25
8,0.551852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.50
9,0.922222,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.00

In [22]:
# Predict Inference-Set

y_pred_inf = model.predict(inf_final)
y_pred_inf

C:\Users\Zaky\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

array([-5.00747952e+12, -5.00366660e+12,  1.07908192e+10, -5.02388803e+12,
       -5.01383437e+12, -5.02261706e+12, -5.00493757e+12, -5.00620854e+12,
        6.97790559e+09, -5.01880414e+12])

In [23]:
# Convert into DataFrame

y_pred_inf_df = pd.DataFrame(y_pred_inf, columns=['Price - Prediction'])
y_pred_inf_df

   Price - Prediction
0       -5.007480e+12
1       -5.003667e+12
2        1.079082e+10
3       -5.023888e+12
4       -5.013834e+12
5       -5.022617e+12
6       -5.004938e+12
7       -5.006209e+12
8        6.977906e+09
9       -5.018804e+12

In [24]:
tabel_inference = pd.concat([inference, y_pred_inf_df], axis=1)
tabel_inference

   distance cab_type          name surge_multiplier  Price - Prediction
0         6     Uber        UberXL             1.25       -5.007480e+12
1         9     Uber      UberPool             1.25       -5.003667e+12
2         6     Uber           WAV             3.00        1.079082e+10
3         1     Uber           Lux             1.00       -5.023888e+12
4         1     Uber        Shared             3.00       -5.013834e+12
5         2     Uber  Lux Black XL             2.50       -5.022617e+12
6         8     Uber        Shared             1.25       -5.004938e+12
7         7     Uber      UberPool             1.25       -5.006209e+12
8         3     Uber           WAV             2.50        6.977906e+09
9         5     Uber       Lyft XL             3.00       -5.018804e+12

In [25]:
# Get Intercept and Slope

intercept = model.intercept_
slope = model.coef_

print('Intercept : ', intercept)
print('Slope : ', slope)

Intercept :  -5021943168469.922
Slope :  [ 6.86324447e+09  6.86324448e+09 -3.19041137e+09 -3.19041136e+09
 -3.19041135e+09 -3.19041138e+09 -3.19041137e+09 -3.19041138e+09
  6.86324446e+09  6.86324446e+09  6.86324447e+09  6.86324446e+09
  5.02513358e+12  5.01507992e+12  1.81801574e+01  1.55590061e+01]